p Dear #{name},
p Thank you for ordering from UWEAST Community Kitchen. The following are your order details.
p Order Summary:
ul
    each val in order
        li= `${val.quantity} x ${val.item} (${val.extra})`
p Your chosen pickup time is #{date} and the phone number you have provided is #{number}. You will receive a text notification from UWEAST when your order is ready. The pickup address is 6523 University Ave San Diego, CA 92115.
p Please remember that any cancellation or modifications to you order must happen within 24 hours of order placement. If you would like to make any change to your order, email Miriam (miriam@uweast.org) and in the email specify your name, phone number, pick up date, and the changes you want to make to your order.
    br
    br
    | UWEAST